In [3]:
import pandas as pd
from core.match import Match
from core.payoff import PayoffMatrix
from strategies.basic import AlwaysCooperate, AlwaysDefect
from strategies.advanced import TitForTat, Random

### Run di esempio dello scheletro
#### Creazione delle istanze necessarie per definire i parametri del gioco

Creiamo una Matrice di Payoff usando il costruttore di default della classe e creiamo due giocatori.
I due giocatori sono istanze separate della classe strategy per cui tramite Polimorfismo ereditano la struttura della classe ma differiscono solamente per algoritmo di decisione.

In [4]:
M = PayoffMatrix()

player1 = AlwaysCooperate(name = 'Pippo')
player2 = AlwaysDefect(name = 'Topolino')

Adesso che abbiamo i parametri necessari per definire un match creiamo l'orchestratore della struttura:  Match.
Crea un istanza con i dati necessari per runnare tutto l'algoritmo.

In [5]:
m = Match(player1,player2,M)

results = m.run(rounds=10)

Adesso effettuiamo il display dei risultati

In [6]:
print(f"Risultato Finale:")
print(f"{results['agent_a']}: {results['score_a']} punti")
print(f"{results['agent_b']}: {results['score_b']} punti")
# Se vuoi vedere il dettaglio round per round:
df = pd.DataFrame({
    results['agent_a']: results['history_a'], 
    results['agent_b']: results['history_b']
})
display(df.head())

Risultato Finale:
Pippo: 0 punti
Topolino: 50 punti

  Pippo Topolino
0     C        D
1     C        D
2     C        D
3     C        D
4     C        D

Adesso vediamo come creare un altro match. Da tenere a mente che la classe strategy non tiene conto della storia degli eventi in match precedenti quindi ogni partita ricomincia da capo. La memoria non è necessaria.

In [7]:
player3 = TitForTat(name='Pluto')

m2= Match(player2,player3,M)
results2 = m2.run(rounds = 100)
print(f"Risultato Finale:")
print(f"{results2['agent_a']}: {results2['score_a']} punti")
print(f"{results2['agent_b']}: {results2['score_b']} punti")
# Se vuoi vedere il dettaglio round per round:
df2 = pd.DataFrame({
    results2['agent_a']: results2['history_a'], 
    results2['agent_b']: results2['history_b']
})
display(df2.head())

Risultato Finale:
Topolino: 104 punti
Pluto: 99 punti

  Topolino Pluto
0        D     C
1        D     D
2        D     D
3        D     D
4        D     D

### Esempio di Modularità per lo sviluppo in parallelo
Adesso voglio usare un algoritmo per decidere che richiede dei parametri personalizzati. Non devo cambiare assolutamente nulla in Match, Tournament e Core in quanto il polimorfismo mi permette di creare classi custom a partire dal template con costruttori personalizzati.

In [6]:
player4 = Random(name='Ping Pong Un') # Default random player with p = 0.5
player5 = Random(p=0.7,name='Topo Gigio')

m3= Match(player4,player5,M)
results3 = m3.run(rounds = 30)
print(f"Risultato Finale:")
print(f"{results3['agent_a']}: {results3['score_a']} punti")
print(f"{results3['agent_b']}: {results3['score_b']} punti")
# Se vuoi vedere il dettaglio round per round:
df3 = pd.DataFrame({
    results3['agent_a']: results3['history_a'], 
    results3['agent_b']: results3['history_b']
})
display(df3.head())

Risultato Finale:
Ping Pong Un: 98 punti
Topo Gigio: 43 punti

  Ping Pong Un Topo Gigio
0            C          C
1            D          D
2            D          C
3            C          C
4            D          D

In [39]:
import numpy as np

# Matches list
matches = []
results = []
dfs = []

# Matches Parameters
M = PayoffMatrix()
players = [AlwaysCooperate(), AlwaysDefect(), TitForTat(), Random(name = 'Mainly Nice', p=0.7), Random(name='Mainly Bad', p=0.3)]
N_rounds = 50
N = len(players)

# Leaderboards parameters

N_wins = np.zeros(N) # Come dimensione devono avere il numero di player
N_ties = np.zeros(N)
Total_score = np.zeros(N)

for i in range(N):
    for j in range(i+1,N):
        #Create a Match for the single tournament's round
        m = Match(players[i],players[j],M)
        matches.append((i,j,m))

for i,j,match in matches:
    
    #Running al matches in the tournament
    result = match.run(rounds = N_rounds)
    results.append(result)
    
    name1 = result['agent_a']
    name2 = result['agent_b']
    score1 = result['score_a']
    score2 = result['score_b']

    # Evaluating the total number of wins
    if score1 > score2:
        N_wins[i] += 1
    elif score1 < score2:
        N_wins[j] += 1
    else:
        N_ties[i] += 1
        N_ties[j] += 1
        

    # Evaluating the total score

    Total_score[i] += score1
    Total_score[j] += score2
    
    
    print(f"INCONTRO TRA {name1} - {name2}:")
    print(f"{name1}: {score1} punti")
    print(f"{name2}: {score2} punti")
    
    # Se vuoi vedere il dettaglio round per round:
    df = pd.DataFrame({
        result['agent_a']: result['history_a'], 
        result['agent_b']: result['history_b']
    })
    display(df.head())
    dfs.append(df)
    print('')

for i in range(N):
    print(players[i].name,' ' ,N_wins[i],'', N_ties[i] , ' ' ,Total_score[i])

INCONTRO TRA AlwaysCooperate - AlwaysDefect:
AlwaysCooperate: 0 punti
AlwaysDefect: 250 punti

  AlwaysCooperate AlwaysDefect
0               C            D
1               C            D
2               C            D
3               C            D
4               C            D

INCONTRO TRA AlwaysCooperate - TitForTat:
AlwaysCooperate: 150 punti
TitForTat: 150 punti

  AlwaysCooperate TitForTat
0               C         C
1               C         C
2               C         C
3               C         C
4               C         C

INCONTRO TRA AlwaysCooperate - Mainly Nice:
AlwaysCooperate: 96 punti
Mainly Nice: 186 punti

  AlwaysCooperate Mainly Nice
0               C           C
1               C           C
2               C           C
3               C           C
4               C           C

INCONTRO TRA AlwaysCooperate - Mainly Bad:
AlwaysCooperate: 72 punti
Mainly Bad: 202 punti

  AlwaysCooperate Mainly Bad
0               C          D
1               C          D
2               C          C
3               C          D
4               C          D

INCONTRO TRA AlwaysDefect - TitForTat:
AlwaysDefect: 54 punti
TitForTat: 49 punti

  AlwaysDefect TitForTat
0            D         C
1            D         D
2            D         D
3            D         D
4            D         D

INCONTRO TRA AlwaysDefect - Mainly Nice:
AlwaysDefect: 178 punti
Mainly Nice: 18 punti

  AlwaysDefect Mainly Nice
0            D           C
1            D           D
2            D           D
3            D           D
4            D           C

INCONTRO TRA AlwaysDefect - Mainly Bad:
AlwaysDefect: 126 punti
Mainly Bad: 31 punti

  AlwaysDefect Mainly Bad
0            D          C
1            D          D
2            D          D
3            D          D
4            D          D

INCONTRO TRA TitForTat - Mainly Nice:
TitForTat: 129 punti
Mainly Nice: 134 punti

  TitForTat Mainly Nice
0         C           D
1         D           C
2         C           D
3         D           D
4         D           C

INCONTRO TRA TitForTat - Mainly Bad:
TitForTat: 83 punti
Mainly Bad: 88 punti

  TitForTat Mainly Bad
0         C          D
1         D          D
2         D          D
3         D          C
4         C          D

INCONTRO TRA Mainly Nice - Mainly Bad:
Mainly Nice: 55 punti
Mainly Bad: 165 punti

  Mainly Nice Mainly Bad
0           C          D
1           C          D
2           D          D
3           C          C
4           D          D

AlwaysCooperate   0.0  1.0   318.0
AlwaysDefect   4.0  0.0   608.0
TitForTat   0.0  1.0   411.0
Mainly Nice   2.0  0.0   393.0
Mainly Bad   3.0  0.0   486.0